
.infospan {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    color: #fff;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-family: "Courier New", Courier, monospace;
    font-size: 1em;
}

.title {
    font-size: 1.5em;
}

.orientation {
    display:none;
    left:0;
    top:0;
    position:fixed;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    text-align: center;
    vertical-align: middle;
    opacity: .75;
    background: #000;
    color: #fff;
    text-shadow: blue 0.1em 0.1em 0.2em,
                 blue -0.1em 0.1em 0.2em,
                 blue 0.1em -0.1em 0.2em,
                 blue -0.1em -0.1em 0.2em;
    font-size:2em;
}